
.quadrado {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}
.q1 {
    width: 150px;
    height: 150px;
    background-color: rgb(180, 31, 31);
}
.q2{
    width: 150px;
    height: 150px;
    background-color: black;
}
.circulo{
    width: 140px;
    height: 210px;
    text-align: center;
    background-color: rgb(37, 36, 36);
    border-radius: 20px;
    margin: 200px auto 300px;
    padding: auto;
    padding-top: 5px;
}
.c1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff0000, #e13030);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
    font-size: 20px;
    box-shadow: 0 0 20px rgb(255, 16, 16);
}
.c2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ffd000, #ffd902);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
    font-size: 20px;
    box-shadow: 0 0 20px yellow;
}
.c3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(45deg, #51ff00, #52ff02);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
    font-size: 20px;
    box-shadow: 0 0 20px rgb(0, 255, 0);
}